<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>LEXUS雷克萨斯官网</title>
<link rel="stylesheet" href="../style/css/common.css">
<link rel="stylesheet" href="../style/css/index.css">
<link rel="stylesheet" type="text/css" href="../font/iconfont.css">
</head>
<body>
<!-- header -->
    <div class="header">
        <div class="headerCon">
            <div class="logo">
                <a href="javascript:;"><img src="../img/index/logo-1.png"></a>
            </div>
            <div class="hideList">
                <a href="javascript:;" class="hideListBtn1"><i class="iconfont icon-liebiao"></i></a>
                <a href="javascript:;" class="hideListBtn2">&times;</i></a>
            </div>
            <div class="welcome">
                <a href="javascript:;" class="welcomeUser">欢迎 <%= username %></a><span> / </span>
                <a href="javascript:;" class="MyAccount">我的账户</a>
                <a href="index.html" class="byebye">退出</a>
            </div>
            <ul class="navList">
                <li><a href="goodslist">车型总览</a><span></span></li>
                <li><a href="goodslist">品牌天地</a></li>
                <li><a href="goodslist">智•混动</a></li>
                <li><a href="goodslist">F高性能系列</a></li>
                <li><a href="goodslist">车主服务</a></li>
                <li><a href="news.html">新闻资讯</a></li>
                <li class="empty"><a href="javascript:;">查询经销商</a></li>
            </ul>
            <div class="showList">
                <div class="showLi showLiA">
                    <div class="showLiLeft">
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>CT</i>
                                <img src="../img/index/ct.png">
                                <p>紧凑型豪华两厢车</p>
                                <span>建议售价229,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>IS</i>
                                <img src="../img/index/is.png">
                                <p>中型豪华运动轿车</p>
                                <span>建议售价324,900起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>ES</i>
                                <img src="../img/index/es.png">
                                <p>中大型豪华行政级轿车</p>
                                <span>建议售价298,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>GS</i>
                                <img src="../img/index/gs.png">
                                <p>中大型豪华运动轿车</p>
                                <span>建议售价459,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>LS</i>
                                <img src="../img/index/ls.png">
                                <p>旗舰级豪华轿车</p>
                                <span>建议售价1,490,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>NX</i>
                                <img src="../img/index/nx.png">
                                <p>中型豪华SUV</p>
                                <span>建议售价318,900起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>RX</i>
                                <img src="../img/index/rx.png">
                                <p>中大型豪华SUV</p>
                                <span>建议售价418,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>GX</i>
                                <img src="../img/index/gx.png">
                                <p>大型豪华SUV</p>
                                <span>建议售价848,000起</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>LX</i>
                                <img src="../img/index/lx.png">
                                <p>全尺寸豪华SUV</p>
                                <span>建议售价1,396,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>RC</i>
                                <img src="../img/index/rc.png">
                                <p>中型豪华轿跑车</p>
                                <span>建议售价488,000起</span>
                            </a></li>
                        </ul>
                        <ul class="list1">
                            <li><a href="javascript:;">
                                <i>SKYJET</i>
                                <img src="../img/index/skyjet.png">
                                <p>单人太空飞船</p>
                                <span>仅限瓦莱利安币购买</span>
                            </a></li>
                            <li><a href="javascript:;">
                                <i>YACHT</i>
                                <img src="../img/index/yacht.png">
                                <p>概念运动游艇</p>
                                <span>暂无量产计划</span>
                            </a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="list2">
                            <p></p>
                            <a href="javascript:;"><img src="../img/index/pic-1.jpg"></a>
                        </div>
                        <ul class="list3">
                            <li>
                                <p></p>
                                <a href="javascript:;"><img src="../img/index/pic-2.jpg"></a>
                            </li>
                            <li>
                                <p></p>
                                <a href="javascript:;"><img src="../img/index/pic-3.jpg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">品牌历史</a></li>
                            <li><a href="javascript:;" class="showBListA">匠人匠心</a></li>
                            <li><a href="javascript:;" class="showBListA">设计理念</a></li>
                            <li><a href="javascript:;" class="showBListA">环保理念</a></li>
                            <li><a href="javascript:;" class="showBListA">概念车</a></li>
                            <li>
                                <a href="javascript:;" class="showBListA">全球品牌活动</a>
                                <ul class="showBListD">
                                    <li><a href="javascript:;">雷克萨斯品牌杂志</a></li>
                                    <li><a href="javascript:;">雷克萨斯全球品牌广告</a></li>
                                    <li><a href="javascript:;">雷克萨斯全球设计大奖</a></li>
                                    <li><a href="javascript:;">雷克萨斯品牌体验空间</a></li>
                                    <li><a href="javascript:;">雷克萨斯全球微电影</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>品牌历史</h4>   
                                <p>回眸岁月，雷克萨斯前行之路上成就不止：</p>    
                                <p>所有的一切，都诉说着雷克萨斯历日旷久的斐然业绩，更预言着品牌未来的前进方向。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-4.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>匠人匠心</h4>   
                                <p>雷克萨斯倾注匠心于产品，造就每一个细节的极致，从看到它驾驭它，都能感受到人车合一的共鸣</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-5.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>设计理念</h4>   
                                <p>L-finesse预纯妙是雷克萨斯全线产品的设计哲学</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-6.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>环保理念</h4>   
                                <p>注重节约，能源效率至上，将汽车整个生命周期对环境的有所影响降至最低</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-7.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>概念车</h4>   
                                <p>L-finesse预纯妙是雷克萨斯全线产品的设计哲学</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-8.jpg"></div>
                        </div>
                        <div class="showCList showCList1">
                            <div class="top">
                                <h4>全球品牌活动</h4>   
                                <p>时刻关注有意义的创新，激发出前瞻领先的情感</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-9.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">智•混动</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList">
                            <div class="top">
                                <h4>智·混动</h4>   
                                <p>智，在于兼顾自我与社会；在于坐享时代的巅峰；在于深感速度的激情；在于纯净澎湃的动力；<br/>
                                    在于尽揽六大车系，驾驭七款智·混动车型；兼备超凡之举，方为大智所驱。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-7.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">F高性能系列</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList">
                            <div class="top">
                                <h4>F高性能系列</h4>   
                                <p>F的精神，由赛道传奇延续至平素驾控。无论何时何地，酣畅的驾控快感从无休止。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-10.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showEList">
                            <li><a href="javascript:;" class="showEListA">售后服务</a></li>
                            <li><a href="javascript:;" class="showEListA">e-LEXUS CLUB智能手机应用</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯智能副驾G-BOOK</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯手机互联</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯汽车精品</a></li>
                            <li><a href="javascript:;" class="showEListA">雷克萨斯生活精品</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>售后服务</h4>   
                                <p>雷克萨斯售后服务，全心投入，只为您全心满意。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-11.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>e-LEXUS CLUB智能手机应用</h4>   
                                <p>雷克萨斯车主可以通过本应用程序随时随地享受雷克萨斯尊崇服务,畅享智能驾车新境界。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-13.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯智能副驾G-BOOK</h4>   
                                <p>撷取科技灵感，为您带来超乎期许的尊贵体验；以绝妙创想，开启智能驾车新享受。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-14.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯手机互联</h4>   
                                <p>将您的手机与雷克萨斯互联，自如掌控丰富的多媒体功能，尽享互联带来的驾乘体验。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-15.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯汽车精品</h4>   
                                <p>安全个性化的雷克萨斯汽车精品，进一步提升雷克萨斯整车魅力的同时，为顾客提供更加舒适性的驾乘乐趣。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-16.jpg"></div>
                        </div>
                        <div class="showCList showCList2">
                            <div class="top">
                                <h4>雷克萨斯生活精品</h4>   
                                <p>别具匠心的LEXUS COLLECTION，将雷克萨斯优雅细腻的品牌质感融入生活，彰显追求完美的生活造诣。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-17.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="showLi showLiB">
                    <div class="showLiLeft">
                        <ul class="showBList">
                            <li><a href="javascript:;" class="showBListA">新闻资讯</a></li>
                        </ul>
                    </div>
                    <div class="showLiRight">
                        <div class="showCList">
                            <div class="top">
                                <h4>新闻资讯</h4>   
                                <p>在这里您可以浏览关于雷克萨斯的所有资讯及优惠活动。</p>    
                            </div>
                            <div class="bottom"><img src="../img/index/pic-12.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hideListShow">
                <ul class="SecList">
                    <li><a href="javascript:;">车型总览</a></li>
                    <li><a href="javascript:;">品牌天地</a></li>
                    <li><a href="javascript:;">智•混动</a></li>
                    <li><a href="javascript:;">F高性能系列</a></li>
                    <li><a href="javascript:;">车主服务</a></li>
                    <li><a href="javascript:;">新闻资讯</a></li>
                    <li><a href="javascript:;">查询经销商</a></li>
                    <li><a href="javascript:;">预约试驾</a></li>
                </ul>
            </div>
        </div>
    </div>
<!-- content -->
    <div class="content">
        <div class="cover"></div>
        <div class="slider">
            <div class="showImg">
                <ul class="imgList">
                    <li>
                        <div class="imgTitle">
                            <h3>艺术演绎豪华，全新LS及全新LC现已开启预售</h3>
                            <p>全新LS预售价90万元起</p>
                            <p>全新LC预售价130万元起</p>
                            <a href="javascript:;">探索更多 ></a>
                        </div>
                        <img src="../img/index/slide-1.jpg">
                    </li>
                    <li>
                        <div class="imgTitle">
                            <h3>锐与智 成就不套路</h3>
                            <p>锐与智 成就不套路</p>
                            <p>扫码开启锐与智之旅</p>
                            <img src="../img/index/code-1.jpg">
                        </div>
                        <img src="../img/index/slide-2.jpg">
                    </li>
                    <li>
                        <div class="imgTitle">
                            <h3>品与智 轻生活</h3>
                            <p>全新LS预售价90万元起</p>
                            <p>扫描二维码，开启轻生活之旅</p>
                            <img src="../img/index/code-1.jpg">
                        </div>
                        <img src="../img/index/slide-3.jpg">
                    </li>
                    <li>
                        <div class="imgTitle">
                            <h3>铭记三十载荣耀</h3>
                            <p>雷克萨斯 ES 200 30周年纪念版正式发售</p>
                            <a href="javascript:;">探索更多 ></a>
                        </div>
                        <img src="../img/index/slide-4.jpg">
                    </li>
                    <li>
                        <div class="imgTitle">
                            <h3>型与动，不妥协</h3>
                            <p>新雷克萨斯IS正式上市</p>
                            <a href="javascript:;">探索更多 ></a>
                        </div>
                        <img src="../img/index/slide-5.jpg">
                    </li>
                    <li>
                        <div class="imgTitle">
                            <h3>大智所驱</h3>
                            <p>雷克萨斯智·混动</p>
                            <p>全球百万车主的智慧之选 </p>
                            <a href="javascript:;">探索更多 ></a>
                        </div>
                        <img src="../img/index/slide-6.jpg">
                    </li>
                </ul>
            </div>
            <ul class="point">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="leftCon"><a href="javascript:;">  <  </a></div>
            <div class="rightCon"><a href="javascript:;">  > </a></div>
        </div>
        <div class="news">
            <div class="newsLeft">
                <a href="javascript:;">
                    <img src="../img/index/news-1.jpg">
                    <h3>2018雷克萨斯全球设计大奖</h3>
                    <p>“CO-”和谐共生</p>
                    <span>查看详情 ></span>
                </a>
            </div>
            <div class="newsRight">
                <a href="javascript:;">
                    <img src="../img/index/news-2.jpg">
                    <h3>智·混动</h3>
                    <p>全球百万车主的智慧之选</p>
                    <span>查看详情 ></span>
                </a>
            </div>
        </div>
        <div class="server">
            <div class="serverA server1">
                <a href="javascript:;">
                    <img src="../img/index/news-3.jpg">
                    <h3>雷克萨斯全球品牌广告SLIDE</h3>
                    <p>大胆创想与领先科技造就的精美绝伦</p>
                    <span>查看详情 ></span>
                </a>
            </div>
            <div class="serverA server1">
                <a href="javascript:;">
                    <img src="../img/index/news-4.jpg">
                    <h3>雷克萨斯全球品牌广告SLIDE</h3>
                    <p>大胆创想与领先科技造就的精美绝伦</p>
                    <span>查看详情 ></span>
                </a>
            </div>
            <div class="serverA server1">
                <a href="javascript:;">
                    <img src="../img/index/news-5.jpg">
                    <h3>雷克萨斯全球品牌广告SLIDE</h3>
                    <p>大胆创想与领先科技造就的精美绝伦</p>
                    <span>查看详情 ></span>
                </a>
            </div>
            <div class="serverA server1">
                <a href="javascript:;">
                    <img src="../img/index/news-6.jpg">
                    <h3>雷克萨斯全球品牌广告SLIDE</h3>
                    <p>大胆创想与领先科技造就的精美绝伦</p>
                    <span>查看详情 ></span>
                </a>
            </div>
        </div>
    </div>
<!-- navagation -->
    <div class="navagation">
        <ul class="navagationList navagationList1">
            <h4><a href="javascript:;">车型总览</a></h4>
            <li><a href="javascript:;">CT</a><a href="javascript:;">LX</a></li>
            <li><a href="javascript:;">IS</a><a href="javascript:;">RC</a></li>
            <li><a href="javascript:;">ES</a><a href="javascript:;">SKYJET</a></li>
            <li><a href="javascript:;">GS</a><a href="javascript:;">YACHT</a></li>
            <li><a href="javascript:;">LS</a><a href="javascript:;">新车预告</a></li>
            <li><a href="javascript:;">NX</a><a href="javascript:;">车型筛选</a></li>
            <li><a href="javascript:;">RX</a><a href="javascript:;">金融服务</a></li>
            <li><a href="javascript:;">GX</a></li>
        </ul>
        <ul class="navagationList">
            <h4><a href="javascript:;">品牌天地</a></h4>
            <li><a href="javascript:;">品牌历史</a></li>
            <li><a href="javascript:;">匠人匠心</a></li>
            <li><a href="javascript:;">设计理念</a></li>
            <li><a href="javascript:;">环保理念</a></li>
            <li><a href="javascript:;">概念车</a></li>
            <li><a href="javascript:;">雷克萨斯品牌杂志</a></li>
            <li><a href="javascript:;">雷克萨斯全球品牌广告</a></li>
            <li><a href="javascript:;">雷克萨斯全球设计大奖</a></li>
            <li><a href="javascript:;">雷克萨斯品牌体验空间INTERSECT</a></li>
            <li><a href="javascript:;">雷克萨斯全球微电影</a></li>
        </ul>
        <ul class="navagationList">
            <h4><a href="javascript:;">智·混动</a></h4>
            <li><a href="javascript:;">智·混动</a></li>
        </ul>
        <ul class="navagationList">
            <h4><a href="javascript:;">F高性能系列</a></h4>
            <li><a href="javascript:;">F高性能系列</a></li>
        </ul>
        <ul class="navagationList">
            <h4><a href="javascript:;">车主服务</a></h4>
            <li><a href="javascript:;">售后服务</a></li>
            <li><a href="javascript:;">e-LEXUS CLUB<br/>智能手机应用</a></li>
            <li><a href="javascript:;">雷克萨斯智能副驾<br/>G-BOOK</a></li>
            <li><a href="javascript:;">雷克萨斯手机互联</a></li>
            <li><a href="javascript:;">雷克萨斯汽车精品</a></li>
            <li><a href="javascript:;">雷克萨斯生活精品</a></li>
        </ul>
        <ul class="navagationList">
            <h4><a href="javascript:;">新闻资讯</a></h4>
            <li><a href="javascript:;">新闻资讯</a></li>
        </ul>
    </div>
<!-- footer -->
    <div class="footer">
        <div class="footOne">
            <div class="footTop">
                <ul class="footOneList">
                    <li><a href="javascript:;">网站地图</a></li>
                    <li><a href="javascript:;">认证二手车</a></li>
                    <li><a href="javascript:;">e-LEXUS CLUB</a></li>
                    <li><a href="javascript:;">经销商招募</a></li>
                    <li><a href="javascript:;">人才招聘</a></li>
                    <li><a href="javascript:;">联系我们</a></li>
                    <li><a href="javascript:;">法律声明</a></li>
                    <li><a href="javascript:;">全球网站</a></li>
                    <li><a href="javascript:;">汽车维修技术信息</a></li>
                </ul>
                <div class="footOneShare">
                    <a href="javascript:;"><i class="iconfont icon-weib"></i></a>
                    <a href="javascript:;"><i class="iconfont icon-weix"></i></a>
                    <a href="javascript:;"><i class="iconfont icon-fenxiang"></i></a>
                </div>
            </div>
            <div class="footBottom">
                <div class="botLeft">
                    <p>© 2005-2016  LEXUS雷克萨斯中国<span></span>丰田汽车（中国）投资有限公司</p>
                </div>
                <div class="botRight">
                    <a href="javascript:;">京ICP备11010962号</a><span></span>
                    <a href="javascript:;">京公网安备11010502030819</a>
                </div>
            </div>
        </div>
        <div class="footTwo">
            <ul class="footTwoList">
                <li><a href="javascript:;">网站地图</a></li>
                <li><a href="javascript:;">认证二手车</a></li>
                <li><a href="javascript:;">e-LEXUS CLUB</a></li>
                <li><a href="javascript:;">经销商招募</a></li>
                <li><a href="javascript:;">人才招聘</a></li>
                <li><a href="javascript:;">联系我们</a></li>
                <li><a href="javascript:;">法律声明</a></li>
                <li><a href="javascript:;">全球网站</a></li>
                <li><a href="javascript:;">汽车维修技术信息</a></li>
            </ul>
            <div class="footTwoText">
                <p>© 2005-2016  LEXUS雷克萨斯中国</p><p>丰田汽车（中国）投资有限公司</p>
            </div>
            <div class="footTwoShare">
                <a href="javascript:;"><i class="iconfont icon-weib"></i></a>
                <a href="javascript:;"><i class="iconfont icon-weix"></i></a>
                <a href="javascript:;"><i class="iconfont icon-fenxiang"></i></a>
            </div>
            <div class="footTwoB">
                <a href="javascript:;">京公网安备11010502030819</a>
            </div>
        </div>
    </div>
<!-- toTop -->
    <div class="toTop">
        <i class="iconfont icon-fanhuidingbu"></i>
    </div>

<!-- LoginPopup -->
    <div class="BGcover"></div>
    <div class="LoginPopup">
        <div class="LPCon">
            <a href="javascript:;" class="LPclose"></a>
            <ul class="LPConChange">
                <li class="LPentry">
                    <ul class="LPentryTit">
                        <li><a href="javascript:;" class="LPnormal LPactive">普通会员登录</a></li>
                    </ul>
                    <form action="login" method="post" id="LGFORM">
                        <div class="LPentryUi">
                            <p class="errorInfo">请输入注册手机号和密码</p>
                            <div class="LPinput">
                                <div class="LPinputW">
                                    <div class="account"><input type="text" placeholder="用户名" id="Username" name="username"></div>
                                    <div class="password"><input type="password" placeholder="您的密码" id="Password" name="password"></div>
                                </div>
                                <input type="submit" value="登录" id="LoginBtn">
                            </div>
                        </div>
                        <div class="LPbyCode">
                            <!-- <div class="LPcodePic"><img src="../img/indexImg/qrcode.png"></div> -->
                            <p class="LPcodeText">打开时尚起义APP<br/>扫描二维码</p>
                            <i></i>
                            <a href="javascript:;" class="LPbackLogin">账户登录>></a>
                        </div>
                        <div class="LPentryCh">
                            <div class="saveE">
                                <input type="checkbox"><label>7天免登陆</label>
                            </div>
                            <div class="LPchose1">
                                <a href="javascript:;" id="code">扫码登录</a><span class="spanNO">|</span>
                                <a href="javascript:;" id="NewUse">新用户注册</a><span>|</span>
                                <a href="javascript:;" id="noPas">忘记密码</a>
                            </div>
                        </div>
                    </form>
                </li>
                <li class="LPregister">
                    <form action="reg" method="post" id="REFORM">
                        <div class="LPregisterUi">
                            <div class="LPregisterMsg">
                                <div class="LPregisterMsgTI"></div>
                                <div class="Nemail"><input type="text" id="NUsername" placeholder="用户名"  name="username"></div>
                                <div class="Npassword">
                                    <div class="ONEpassword"><input type="password" id="NPassword" placeholder="您的密码"></div>
                                    <div class="TWOpassword"><input type="password" id="NRPassword" placeholder="再次输入确认密码" name="password"></div>
                                </div>
                                <div class="Nuseinfo">
                                    <div class="Nusename"><input type="text" placeholder="手机号" id="NPhone"></div>
                                    <div class="Nusesex"><select name="" id="NusesexChose">
                                        <option value="">性别</option>
                                        <option value="">男</option>
                                        <option value="">女</option>
                                    </select></div>
                                </div>
                                <div class="Nphone">
                                    <div class="NYZcode"><span id="NYZcodeShow"></span><input type="text" id="Nusercode" placeholder="验证码"></div>
                                </div>
                                <div class="NuseKnow">
                                    <input type="checkbox"><label for="">我已阅读并同意</label><a href="JavaScript:;">《lexus服务条款》</a>
                                </div>
                            </div>
                            <div class="LPregisterSub">
                                <input type="submit" value="注册" class="LPregisterSubREG">
                                <a href="javascript:;" class="LPregisterSubLOG">老用户登录</a>   
                            </div>
                        </div>
                    </form>
                </li>
                <li class="TiaoZhuan">
                    <h3>注册成功</h3>
                    <a href="javascript:;">点击登录>>></a>
                </li>
            </ul>
        </div>
    </div>


<script src="../js/jquery-1.8.3.js"></script>
<script src="../js/index.js"></script>
</body>
</html>
